{% load static %}
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'tasks' %}">Nyumbani</a>
        <a class="navbar-brand ml-auto" href="{% url 'task-create' %}">Ingiza dalili unazohisi</a>
        <a class="navbar-brand ml-auto" href="{% url 'download' %}">Daktari</a>
        <a class="navbar-brand ml-auto" href="http://127.0.0.1:8000/admin/login/?next=/admin/" >Msimamizi: Ingia</a>
        <a class="navbar-brand ml-auto" href="{% url 'logout' %}">Habari! {{ user }}<br> &nbsp &nbsp &nbsp &nbsp Toka</a> <img src="{% static 'images/user.png' %}">
    </div>
</nav>