{% extends 'clinic/base.html' %}
{% block content %}
{% load static %}
<br>
   
<!-- Side bar starts here
-->  
<div class="d-flex" id="wrapper">
  <div class="border-end bg-white" id="sidebar-wrapper">
     <strong><center><div class="sidebar-heading border-bottom bg-light">Menu</div></center></strong>
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-secondary text-white" href="#!">Magonjwa ya Ngono</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-secondary text-white" href="#!">Elimu Rika</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-secondary text-white" href="#!">Miadi na Daktari</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-secondary text-white" href="{% url 'logout' %}"">Ondoka</a>
          
      </div>
  </div>

  <!--Side bar ends here
  -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
  <h5> <strong> <center> Dalili na Maambukizi </center> </strong> </h5> 
  <p>

          <table class="table" id="printable">
              <thead>
                <tr>
                  <th scope="col">Jina la mtumiaji</th>
                  <th scope="col">Tarehe</th>
                  <th scope="col">Jina La kwanza</th>
                  <th scope="col">Jina la pili</th>
                  <th scope="col">Namba ya simu</th>
                  <th scope="col">Anwani</th>
                  <th scope="col">Jinsia</th>
                  <th scope="col">Umri</th>
                  <th scope="col">Namba ya mgonjwa</th>
                  <th scope="col">Hospitali</th>
                  <th scope="col">Maambukizi</th>
                  <th scope="col"></th> 
                  <th scope="col"></th>   
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                
                <tr>
                  <td> {{ task.jina_la_mtumiaji }} </td>
                  <td> {{ task.tarehe }} </td>
                  <td> {{ task.jina_la_kwanza }} </td>
                  <td> {{ task.jina_la_pili }} </td>
                  <td> {{ task.simu }} </td>
                  <td> {{ task.anwani }} </td>
                  <td> {{ task.jinsia }} </td>
                  <td> {{ task.umri }} </td>
                  <td> {{ task.Namba_ya_mgonjwa }} </td>
                  <td> {{ task.hospitali }} </td>
                  <td> {{ task.MAAMBUKIZI }} </td>
                  <td> <a href = "{% url 'task-update' task.id %}" class="btn btn-success">Hariri</a></td>
                  <td> <a href = "{% url 'task-delete' task.id %}" class="btn btn-danger">Futa</a></td>
                </tr>
               
 
                    
  {% endfor %}
            </table>
  </p>
      </div>  
  </div>
</div>
                  <br> <hr>
<h4><center><div class="badge bg-info text-light text-wrap" style="width: 60rem;"> Endapo ubashiri utakuwa "Kuna maambukizi" nakili namba ya mgonjwa na uende maabara kwa vipimo zaidi. <br> Asante kwa kutumia mfumo wetu na karibu tena!!!</div></center></h4>
</div>
</div>
</div>
{% endblock %}
